@font-face {
    font-family: ubuntu;
    src: url(../Ubuntu-R.ttf);
}


body{
	background-image: url("../2.jpg");
	background-size: 100% auto;
	font-family: ubuntu;
}


.text{
	font-family: ubuntu;
 	width: 78%;
	height: 70%;
	height: 40px;
	border-radius: 3px;
    border: 1px solid #3f3f3f;
	font-size: 100%;
	padding-left: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
}


.button{
	font-family: ubuntu;
	width: 20%;
	height: 45px;
	background-color: #515050;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
	border-radius: 5px;
	border-style: solid;
	border-color: #515050;
}

#form{
	font-family: ubuntu;
    margin: auto;
    width: 55%;
    height: 100%;
    border: 3px solid #3f3f3f;
    border-radius: 5px;
    padding: 10px;
    background-color: #fefefe;
}

#list{
	margin: 0px;
	padding: 0px;
}


.list{
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.list:nth-child(even) {
    background: #e88b8b;
}

.list:hover {
    background: #aaa;
}


#header, #image{
	text-align: center;
	background-color: #fff;
	width: 80px;
	height: 100px;
	margin: auto;
    width: 55%;
    height: 100%;
    border: 3px solid #3f3f3f;
    border-radius: 5px;
    padding: 5px 10px; 
}


#image{
	padding: 0;
	
}

#name{
	float: right;
	margin-right: 7%;
}

.alert {
	font-family: ubuntu;
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-top: 5px;
    display: block;
    border-radius: 3px;
}


#clear{
	font-family: ubuntu;
	width: 100%;
	height: 45px;
	background-color: #515050;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
	border-radius: 5px;
	border-style: solid;
	border-color: #515050;
	display: none;
}


#showJson{
	background-color: #fff;
	color: #000;
	font-family: ubuntu;
	font-size: 25px;
	font-weight: bold;
	border-radius: 100px;
	border-style: solid;
	border-color: #fff;
	height: 120px;
	float: right;
	margin-top: 20px;
	margin-right: 50px;
	box-shadow: 5px 5px 5px #333;	
}

#showJson:hover{
	background-color: #4286f4;
	border-color: #4286f4;
	color: #fff;
	cursor: pointer;
}


#toDo{
	display: none;
	background-color: #fff;
	color: #000;
	font-family: ubuntu;
	font-size: 25px;
	font-weight: bold;
	border-radius: 100px;
	border-style: solid;
	border-color: #fff;
	width: 120px;
	height: 120px;
	float: left;
	margin-top: 20px;
	margin-left: 50px;
	box-shadow: 5px 5px 5px #333;	
}

#toDo:hover{
	background-color: #4286f4;
	border-color: #4286f4;
	color: #fff;
	cursor: pointer;
}